<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Css/shopping.css" th:href="@{/Css/shopping.css}"/>
</head>
<body>
    <div class ="Items">
        <div class="Items1">
        
       <div class="box">
        <img class="image" src="../static/images/access_women1.jpeg" th:src="@{/images/access_women1.jpeg}" alt="women" height="200" width="200">
        <h4>Price: Rs.3500</h4>
        <a href="#" ><h4>buy</h4></a></img>
    </div>
      
      <div class="box">
         <img class="image" src="../static/images/access_women2.jpeg" th:src="@{/images/access_women2.jpeg}" alt="women" height="200" width="200">
        <h4>Price: Rs.4000</h4>
        <a href="#" ><h4>buy</h4></a></img>
        </div>
        <div class="box">
         <img class="image" src="../static/images/access_women3.jpeg" th:src="@{images/access_women3.jpeg}" alt="women" height="200" width="200">
        <h4>Price: Rs.4000</h4>
        <a href="#" ><h4>buy</h4></a></img>
    </div>
         <div class="box">
         <img class="image" src="../static/images/access_women4.jpeg" th:src="@{/images/access_women4.jpeg}" alt="women" height="200" width="200">
         <h4>Price: Rs.1000</h4>
         <a href="#" ><h4>buy</h4></a></img>
    </div>
    </div>
    </div>


      <div class="Items2">
    
    <div class="box">
    <img class="image" src="../static/images/access_women5.jpeg" th:src="@{/images/access_women5.jpeg}" alt="women" height="200" width="200">
    <h4>Price: Rs.4000</h4>
    <a href="#" ><h4>buy</h4></a></img>
</div>
<div class="box">
<img class="image" src="../static/images/access_women6.jpeg" th:src="@{/images/access_women6.jpeg}" alt="women" height="200" width="200">
<h4>Price: Rs.2500</h4>
<a href="#" ><h4>buy</h4></a></img>
</div>

<div class="box">
<img class="image" src="../static/images/access_women7.jpeg" th:src="@{/images/access_women7.jpeg}"alt="women" height="200" width="200">
<h4>Price: Rs.2000</h4>
<a href="#" ><h4>buy</h4></a></img>
</div>
<div class="box">
<img class="image" src="../static/images/access_women8.jpeg" th:src="@{/images/access_women8.jpeg}" alt="women" height="200" width="200">
<h4>Price: Rs.3000</h4>
<a href="#" ><h4>buy</h4></a></img>
</div>
</div>
</body>
</html>