<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kid's</title>
</head>
<link rel="stylesheet" href="../static/Css/kid.css" th:href="@{/Css/kid.css}" />
</link>
<div class="titlebar">
    <div class="heading">

        <html class="navbar navbar-expand-lg navbar-light p-1 mb-2 bg-primary text-white">
        <div class="logo">
            <img src="../static/images/logo.jpeg" th:src="@{/images/logo.jpeg}" alt="Logo" height="120" width="150">
        </div>
        <div class="topnav1">
            <a class="active" href="hello">Home&nbsp;</a>
            <a href="aboutus">About&nbsp;</a>
            <a href="contactus">Contact&nbsp;</a>
        </div>
    </div>

    <body>
        <div class="Items">
            <div class="Items1">

                <img class="image" src="../static/images/kids formal.jpg" th:src="@{/images/kids formal.jpg}" alt="Men" height="300" width="300"><a
                    href="kidformal">
                    <h4>Formals</h4>
                </a></img>
                <img class="image" src="../static/images/Kids traditional.jpg" th:src="@{/images/kids traditional.jpg}" alt="men" height="300" width="300"><a href="kidtradition">
                    <h4>Traditional</h4>
                </a></img>
            </div>
            <div class="Items2">
                <img class="image" src="../static/images/kids-accessories.jpg" th:src="@{/images/kids-accessories.jpg}" alt="Men" height="300" width="300"><a
                    href="kidaccessories">
                    <h4>Accessories</h4>
                </a></img>
            </div>

    </body>

</html>