<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/Css/shopping.css" th:href="@{/Css/shopping.css}" />
</head>
<title>Document</title>

<body>
    <div class="Items">
        <div class="Items1">

            <div class="box">
                <img class="image" src="../static/images/menaccessories1.jpeg" th:src="@{/images/menaccessories1.jpeg}"
                    alt="women" height="200" width="200">
                <h4>Price: Rs.3500</h4>
                <a href="#">
                    <h4>buy</h4>
                </a></img>
            </div>

            <div class="box">
                <img class="image" src="../static/images/menaccessories2.jpeg" th:src="@{/images/menaccessories2.jpeg}"
                    alt="women" height="200" width="200">
                <h4>Price: Rs.4000</h4>
                <a href="#">
                    <h4>buy</h4>
                </a></img>
            </div>
            <div class="box">
                <img class="image" src="../static/images/menaccessories3.jpeg" th:src="@{images/menaccessories3.jpeg}" alt="women"
                    height="200" width="200">
                <h4>Price: Rs.4000</h4>
                <a href="#">
                    <h4>buy</h4>
                </a></img>
            </div>
            <div class="box">
                <img class="image" src="../static/images/menaccessories4.jpeg" th:src="@{/images/menaccessories4.jpeg}"
                    alt="women" height="200" width="200">
                <h4>Price: Rs.1000</h4>
                <a href="#">
                    <h4>buy</h4>
                </a></img>
            </div>
        </div>
    </div>


    <div class="Items2">
        <div class="box">
            <img class="image" src="../static/images/menaccessories5.jpeg" th:src="@{/images/menaccessories5.jpeg}" alt="women"
                height="200" width="200">
            <h4>Price: Rs.4000</h4>
            <a href="#">
                <h4>buy</h4>
            </a></img>
        </div>
        <div class="box">
            <img class="image" src="../static/images/menaccessories6.jpeg" th:src="@{/images/menaccessories6.jpeg}" alt="women"
                height="200" width="200">
            <h4>Price: Rs.2500</h4>
            <a href="#">
                <h4>buy</h4>
            </a></img>
        </div>

        <div class="box">
            <img class="image" src="../static/images/menaccessories7.jpeg" th:src="@{/images/menaccessories7.jpeg}" alt="women" height="200"
                width="200">
            <h4>Price: Rs.2000</h4>
            <a href="#">
                <h4>buy</h4>
            </a></img>
        </div>
        <div class="box">
            <img class="image" src="../static/images/menaccessories8.jpeg" th:src="@{/images/menaccessories8.jpeg}" alt="women"
                height="200" width="200">
            <h4>Price: Rs.3000</h4>
            <a href="#">
                <h4>buy</h4>
            </a></img>
        </div>
    </div>
</body>

</html>