<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
   
    <title>Women</title>
</head> 
   <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


 <link rel="stylesheet" href="../static/Css/women.css" th:href="@{/Css/women.css}"/>
</link>
<div class="titlebar">
<div class="heading">

 <div class="topnav1">
    <a class="active" href="hello">Home&nbsp;</a>
    <a href="aboutus">About&nbsp;</a>
    <a href="contactus">Contact&nbsp;</a>
</div>
</div>

<body>
    <div class ="Items">
        <div class="Items1">
        
        <img class="image" src="../static/images/Womens formalwear.jpg" th:src="@{/images/Womens formalwear.jpg}" alt="Men" height="350" width="350"><a href="Formalw" ><h4>Formals</h4></a></img>
        <img class="image" src="../static/images/womens tradditional.jpg" th:src="@{/images/womens tradditional.jpg}" alt="men" height="350" width="350"><a href="traditional" ><h4>Traditional</h4></a></img>
    </div>
      <div class="Items2">
         <img class="image" src="../static/images/Women-Fashion-Accessories.jpg" th:src="@{/images/Women-Fashion-Accessories.jpg}" alt="Men" height="350" width="350"><a href="accessoriesw" ><h4>Accessories</h4></a></img>
    </div>

</body>
</html>

